{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ event.title }}
{% endblock %}

{% block content %}
    <h1>{{ event.title }}</h1>

    {% if event.description %}
        <p>{{ event.description }}</p>
    {% endif %}

    <p>{{ event.date_start }} - {{ event.date_end }}</p>

    {% if event.members.all %}
        {% with members_count=event.members.count %}
            <div> Идут({{ members_count }}): 
            {% for member in event.members.all %}
                <span>{{ member.name }},</s>
            {% endfor %}
            </div>
        {% endwith %}
        <img src="data:image/png;base64,{{ event_calendar|safe }}" alt="Календарь">
        <p>Можно идти:</p>
            {% for date in days_when_lot_ready %}
                {% for day, members in date.items %}
                    <p>
                        {{ day|date:'d M Y' }} ({{ members|length }}):

                        {% for member in members %}
                            <span>{{ member }}, </span>
                        {% endfor %}
                    </p>
                {% endfor %}
            {% endfor %}
        {% else %}
        <p>Пока никто не отметился</p>
    {% endif %}


    <form method="POST">
        {{ member_form.as_p }}

        <div class="dates unselectable">
            {% for year, months_with_days in dates_between.items %}
                <h4>{{ year }}</h4>
                    {% for month, days in months_with_days.items %}
                        <h5>{{ month }}</h5>
                            {% for day in days %}
                                <label>
                                    <input type="checkbox" name="dates" id="{{ year }}-{{ month }}-{{ day }}"
                                        value="{{ year }}.{{ month }}.{{ day }}">
                                    <span class='day'>{{ day }}</span>
                                </label>
                            {% endfor %}
                    {% endfor %}
            {% endfor %}
        </div>

        {% csrf_token %}
        <div>
            <button type="button" id="btnSelectAll" onclick="selectAll()">Выделить все</button>
            <button type="button" id="btnResetAll" onclick="resetAll()">Сбросить</button>
        </div>
        <button type="submit">Отправить</button>
    </form>

{% endblock %}

{% block domready %}
    <script>
        function selectAll() {
            checkboxes.forEach(checkbox => {
                checkbox.checked = true;
            });
            checkActiveCheckboxes();
        };
        function resetAll() {
            checkboxes.forEach(checkbox => {
                checkbox.checked = false;
            });
            checkActiveCheckboxes();
        };
        function checkActiveCheckboxes() {
            buttonSend.disabled = true;
            checkboxes.forEach(checkbox => {
                if (checkbox.checked)
                buttonSend.disabled = false;
            });
        };
        function selectOrUnselectCheckbox(e) {
            e.stopPropagation();
            e.target.previousElementSibling.checked = !e.target.previousElementSibling.checked;
            checkActiveCheckboxes();
            
        };
        function selectOrUnselectCheckboxes(e) {
            if (e.target.tagName === 'SPAN' && e.buttons) {
                e.target.previousElementSibling.checked = !e.target.previousElementSibling.checked;
                checkActiveCheckboxes();
            }
        };

        let checkboxes = document.querySelectorAll('input[type=checkbox]');
        let labels = document.querySelectorAll('label');
        let buttonSend = document.querySelector('button[type="submit"]');
        let btnSelectAll = document.querySelector('#btnSelectAll');
        let btnResetAll = document.querySelector('#btnResetAll');
        
        checkActiveCheckboxes();

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', checkActiveCheckboxes);
        });
        labels.forEach(label => {
            label.addEventListener('mouseover', selectOrUnselectCheckboxes);
            label.addEventListener('mousedown', selectOrUnselectCheckbox);
            label.addEventListener('click', (e) => {e.preventDefault();});
        });
    </script>
{% endblock %}
