{% extends 'base.html' %}
{% load static %}

{% block title %}
  Создать мероприятие
{% endblock %}

{% block content %}

    <div class="content__item">
      <div class="content__title">
        <h2>Создать мероприятие</h2>
      </div>
    </div>
    <div class="content__item">
      <form method="post" class="content__form">  
        {% for field in form %}
          <div class="form__group">
            <div class="form__label">
              {{ field.label_tag }}
            </div>
            <div class="form__field">
              {{ field }}
            </div>
            {% if field.errors %}
              {% for error in field.errors %}
                <div class="form__error">
                  {{ error }}
                </div>
              {% endfor %}
            {% endif %}
          </div>
        {% endfor %}
        {% csrf_token %}
        <button type="submit" class="form__button">Создать</button>
      </form>
    </div>

{% endblock %}

{% block domready %}

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      
  <!-- Fengyuan Chen's Datepicker -->
  <link  href="{% static 'datepicker/dist/datepicker.min.css' %}" rel="stylesheet">
  <script src="{% static 'datepicker/dist/datepicker.min.js' %}"></script>
  <script src="{% static 'datepicker/i18n/datepicker.ru-RU.js' %}"></script>

  <script>
    $(function () {
    var $startDate = $('#id_date_start');
    var $endDate = $('#id_date_end');

    $startDate.datepicker({
      language: 'ru-RU',
      format:'dd.mm.yyyy',
    });
    $endDate.datepicker({
        language: 'ru-RU',
        format:'dd.mm.yyyy',
        startDate: $startDate.datepicker('getDate'),
      });
    
    $startDate.on('change', function () {
      $endDate.datepicker('setStartDate', $startDate.datepicker('getDate'));
    });
  });
  </script>
{% endblock %}
