label {
    position:relative;  
    cursor:pointer;
}

span.day{
    margin-bottom: 4px;
}

label [type="checkbox"] {
    display:none;
    border: 1px solid #000;
}

[type="checkbox"] + span {
    display:inline-block;
    font-size: 20px;
    padding: 15px;
    width: 25px;
    text-align: center;
    border: 0.5px solid rgb(185, 185, 185);
    border-radius: 5px;
    transition: 0.1s;
}

:checked + span {
    background: rgb(58, 158, 87);
    border: 0.5px solid rgb(161, 161, 161);
    color: rgb(255, 255, 255);
    display:inline-block;    
}

.unselectable {
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
